%button{
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: $font-secondary;
	text-decoration: none;
	background-color: $color-accent;
	color: $color-white;
	border: none;

	&:hover{
		background-color: $color-accent-dark;
		transition: all .2s ease-out;
	}
}