$color-primary:#671111;
$color-primary-light: #E0383C;
$color-primary-light-div: rgba(224, 56, 60, 0.5);
$color-accent: #F6913B;
$color-accent-dark: #EC6D00;
$color-accent-light: #FAEC1A;
$color-secondary: #831D47;
$color-tertiary: #5E1A1A;
$color-quaternary: #932828;
$color-white: #fff;
$color-black: #111112;
$color-gray: #373A3A;


$shadow-z1: 5px 5px 20px rgba(0,0,0,0.6);

$background-black: rgba(0,0,0,0.6);
$background-primary: rgba(70, 13, 13, 0.6);
$background-accent: rgba(246, 145, 59, 0.3);
$background-secondary: rgba(121,29,71,0.8);
$background-tertiary: rgba(94,26,26,0.9);

$gradient-black: linear-gradient(to bottom, rgba(0,0,0,0.9), rgba(0,0,0,0.3) 25%, rgba(0,0,0,0.4) 50%, rgba(0,0,0,0.5) 75%, rgba(0,0,0,0.6));

$font-s-header: 72px;
$font-s-header-2: 61px;
$font-s-title-1: 40px;
$font-s-title-2: 30px;
$font-s-title-3: 28px;
$font-s-title-4: 24px;
$font-s-title-5: 20px;
$font-s-text: 18px;
$font-s-label: 14px;
$font-s-detail: 13.5px;
$font-s-cap: 12px;


$font-primary: "Montserrat", sans-serif;
$font-secondary: "Oswald", sans-serif;
$font-tertiary: "Lato", sans-serif;
$font-quaternary: "Aleo", sans-serif;

