$color-primary:#671111;
$color-primary-light: #E0383C;
$color-accent: #F6913B;
$color-secondary: #831D47;
$color-tertiary: #5E1A1A;
$color-quaternary: #932828;
$color-white: #fff;
$color-black: #111112;
$color-gray: #373A3A;


$font-s-header: 72px;
$font-s-header-2: 61px;
$font-s-title-1: 40px;
$font-s-title-2: 30px;
$font-s-title-3: 28px;
$font-s-title-4: 24px;
$font-s-text: 18px;
$font-s-label: 14px;
$font-s-detail: 13.5px;
$font-s-cap: 12px;


$font-primary: "Monserrat", sans-serif;
$font-secondary: "Oswald", sans-serif;
$font-tertiary: "Lato", sans-serif;
$font-quaternary: "Aleo", sans-serif;


$shadow-z1: 5px 5px 20px rgba(0,0,0,0.6);