.button{
	display: block;
	width: fit-content;
	height: fit-content;
	padding: 12px 27px;
	@extend %button;

	&--small{
		@extend %button;
		width: fit-content;
		padding: 5px 18px;
	}

	&--rounded{
		border-radius: 4px;
	}

	&--full{
		width: 100%;
	}

	&__text{
		font-size: $font-s-title-5;
		font-family: $font-secondary;
		color: $color-white;
		text-transform: uppercase;
		font-weight: 500;
	}	

	&__icon{
		margin-left: 20px;
	}

	&__arrow{
		height: 15.5px;
	}
}

