.new-item{
	display: grid;
	max-width: 1100px;
	height: 207px;
	grid-template-columns: 250px 550px auto;

	&__image{
		height: 100%;
		background-position: center center;
		background-size: cover;
	}

	&__content{
		padding: 0px 0px 0px 25px;
		display:flex;
		flex-direction: column;
		justify-content: center;
	}
	&__title{
		font-size: $font-s-title-3;
		color: $color-primary-light;
		text-decoration: none;
		margin-bottom: 20px;
	}

	&__text{
		font-size: $font-s-text;
	}

	&__button{
		height: 100%;
		display: flex;
		padding-left: 50px;
		align-items: center;
	}
}