.news-list{
	width: 100%;
	padding: 146px 0px;
	display: flex;
	flex-direction: column;
	align-items: center;

	background-image: $gradient-black , url("https://picsum.photos/1000");
	background-size: cover;
	background-position: center center;
	background-color: $background-primary;
	background-blend-mode: multiply;
	& > *{
		margin-bottom: 16px;

		&:nth-last-child(1){
			margin-bottom: 0px;
		}
	}
}